#top-block {
  margin: 0.5em;
}

#title {
  color: darkgoldenrod;
}



#tiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tile {
  border: 1px solid black;
  padding: 1em;
}

.add-species-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5em
}